[submodule "whackamole"]
	path = whackamole
	url = https://github.com/drewctate/whackamole.git
[submodule "forest-fire-model"]
	path = forest-fire-model
	url = https://github.com/drewctate/forest-fire-model.git
	branch = master
