* {
    padding: 0;
    margin: 0;
}

body {
    /*background-color: #2CA6A4;*/
    background-color: #023C40;
    background-image: url('img/webdev.png');
    background-size: cover;
    color: #F2E2D2;
    font-family: 'Droid Serif', serif;
    display: none;
}

header {
    padding: 10px;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    background-color: black;
    position: fixed;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hidden {
    display: none;
}

#first {
    background: none;
    color: #F2E2D2;
    box-shadow: none;
    width: 700px;
    height: 300px;
    text-align: center;
}

#link-pointer {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 34px;
    font-size: 30px;
}

#pointer-text {
    margin-top: 30px;
    background: none;
    padding: 8px;
    border: 1px solid #F2E2D2;
    border-radius: 5px;
}

#big-pic {
    width: 1040px;
    font-size: 30px;
}

#big-pic .big {
    font-size: 125px;
}

#landscape {
    width: 245px;
}

#details {
    font-size: 40px;
}

#technologies .little {
    font-size: 40px;
}

#technologies div.technology {
    font-size: 40px;
    float: left;
    height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

#angle {
    text-align: center;
    font-size: 77px;
    width: 700px;
    display: none;
}

#lightbulb {
    margin: 0 auto;
    display: block;
}

#lightbulb-container {
    margin: 0 auto;
}

.invisible {
    visibility: hidden;
}

.logo {
    width: auto;
    height: 90px;
}

header a {
    text-decoration: none;
    color: #F2E2D2;
}

.box {
    background-color: #F2E2D2;
    width: 700px;
    height: 500px;
    font-size: 77px;
    color: #141B41;
    box-shadow: 2px 2px 4px #141B41;
    padding: 20px;
}